* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/invaders-back.png');
  /* background-image: url('/Users/daniela/Development/projects/space-invaders/sprites/invadbez.png'); */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: 150px [col-start] 500px [col-start] 50px [col-start];
}

.score-container {
  color: #ffda63;
  font-size: 50px;
}


.logo {
  width: 100px;
  height: 100px;
  background-image: url('../images/si-logo.png');
  background-size: contain;
}

div.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 20px;
  height: 20px;
  /* border: 1px dashed black; */
}

div.grid-item.player {
  background-image: url('../images/galaga-fighter.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.alien {
  background-image: url('../images/invader.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

/* div.grid-item.bullet {
  background-image: url('../images/missile.png');
  background-repeat: no-repeat;
  background-size: contain;
  } */

div.grid-item.bullet::after {
    content: '|';
    color: #51ff0d;
    display: flex;
    font-weight: 800;
    justify-content: center;
  }

  div.grid-item.bullet {
    /* background-color: red; */
    height: 20px;
    /* width: 2px; */
    /* border-radius: 50%; */
  }



div.grid-item.bomb {
  /* background-color: red; */
  height: 20px;
  /* width: 2px; */
  /* border-radius: 50%; */
}

div.grid-item.bomb::after {
  content: '|';
  color: red;
  display: flex;
  font-weight: 800;
  justify-content: center;
}
